@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

*{
  margin: 0; 
  padding: 0; 
}


body{
  color: white;
  font-family: 'Verdana', sans-serif;
  /*background: linear-gradient(to bottom, #00416a, #799f0c, #ffe000, #00416a);*/
  background: linear-gradient(90deg, rgba(11, 11, 11, 0.03) 0%, rgba(11, 11, 11, 0.03) 9%,rgba(239, 239, 239, 0.03) 9%, rgba(239, 239, 239, 0.03) 15%,rgba(106, 106, 106, 0.03) 15%, rgba(106, 106, 106, 0.03) 53%,rgba(168, 168, 168, 0.03) 53%, rgba(168, 168, 168, 0.03) 86%,rgba(161, 161, 161, 0.03) 86%, rgba(161, 161, 161, 0.03) 100%),linear-gradient(90deg, rgba(72, 72, 72, 0.06) 0%, rgba(72, 72, 72, 0.06) 22%,rgba(229, 229, 229, 0.06) 22%, rgba(229, 229, 229, 0.06) 28%,rgba(251, 251, 251, 0.06) 28%, rgba(251, 251, 251, 0.06) 47%,rgba(2, 2, 2, 0.06) 47%, rgba(2, 2, 2, 0.06) 58%,rgba(51, 51, 51, 0.06) 58%, rgba(51, 51, 51, 0.06) 90%,rgba(140, 140, 140, 0.06) 90%, rgba(140, 140, 140, 0.06) 100%),linear-gradient(90deg, rgba(28, 28, 28, 0.03) 0%, rgba(28, 28, 28, 0.03) 8%,rgba(137, 137, 137, 0.03) 8%, rgba(137, 137, 137, 0.03) 16%,rgba(95, 95, 95, 0.03) 16%, rgba(95, 95, 95, 0.03) 23%,rgba(2, 2, 2, 0.03) 23%, rgba(2, 2, 2, 0.03) 28%,rgba(247, 247, 247, 0.03) 28%, rgba(247, 247, 247, 0.03) 40%,rgba(48, 48, 48, 0.03) 40%, rgba(48, 48, 48, 0.03) 91%,rgba(203, 203, 203, 0.03) 91%, rgba(203, 203, 203, 0.03) 100%),linear-gradient(90deg, rgba(80, 80, 80, 0.05) 0%, rgba(80, 80, 80, 0.05) 7%,rgba(65, 65, 65, 0.05) 7%, rgba(65, 65, 65, 0.05) 8%,rgba(79, 79, 79, 0.05) 8%, rgba(79, 79, 79, 0.05) 11%,rgba(26, 26, 26, 0.05) 11%, rgba(26, 26, 26, 0.05) 29%,rgba(168, 168, 168, 0.05) 29%, rgba(168, 168, 168, 0.05) 40%,rgba(233, 233, 233, 0.05) 40%, rgba(233, 233, 233, 0.05) 68%,rgba(33, 33, 33, 0.05) 68%, rgba(33, 33, 33, 0.05) 92%,rgba(237, 237, 237, 0.05) 92%, rgba(237, 237, 237, 0.05) 100%),linear-gradient(90deg, rgba(205, 205, 205, 0.01) 0%, rgba(205, 205, 205, 0.01) 11%,rgba(58, 58, 58, 0.01) 11%, rgba(58, 58, 58, 0.01) 18%,rgba(28, 28, 28, 0.01) 18%, rgba(28, 28, 28, 0.01) 95%,rgba(159, 159, 159, 0.01) 95%, rgba(159, 159, 159, 0.01) 98%,rgba(169, 169, 169, 0.01) 98%, rgba(169, 169, 169, 0.01) 100%),linear-gradient(90deg, rgba(110, 110, 110, 0.09) 0%, rgba(110, 110, 110, 0.09) 24%,rgba(190, 190, 190, 0.09) 24%, rgba(190, 190, 190, 0.09) 47%,rgba(10, 10, 10, 0.09) 47%, rgba(10, 10, 10, 0.09) 69%,rgba(242, 242, 242, 0.09) 69%, rgba(242, 242, 242, 0.09) 85%,rgba(178, 178, 178, 0.09) 85%, rgba(178, 178, 178, 0.09) 89%,rgba(151, 151, 151, 0.09) 89%, rgba(151, 151, 151, 0.09) 100%),linear-gradient(90deg, rgba(120, 120, 120, 0.03) 0%, rgba(120, 120, 120, 0.03) 1%,rgba(252, 252, 252, 0.03) 1%, rgba(252, 252, 252, 0.03) 35%,rgba(101, 101, 101, 0.03) 35%, rgba(101, 101, 101, 0.03) 48%,rgba(219, 219, 219, 0.03) 48%, rgba(219, 219, 219, 0.03) 66%,rgba(253, 253, 253, 0.03) 66%, rgba(253, 253, 253, 0.03) 93%,rgba(236, 236, 236, 0.03) 93%, rgba(236, 236, 236, 0.03) 98%,rgba(71, 71, 71, 0.03) 98%, rgba(71, 71, 71, 0.03) 100%),linear-gradient(90deg, rgba(197, 197, 197, 0.01) 0%, rgba(197, 197, 197, 0.01) 23%,rgba(200, 200, 200, 0.01) 23%, rgba(200, 200, 200, 0.01) 24%,rgba(29, 29, 29, 0.01) 24%, rgba(29, 29, 29, 0.01) 69%,rgba(33, 33, 33, 0.01) 69%, rgba(33, 33, 33, 0.01) 73%,rgba(34, 34, 34, 0.01) 73%, rgba(34, 34, 34, 0.01) 75%,rgba(151, 151, 151, 0.01) 75%, rgba(151, 151, 151, 0.01) 86%,rgba(226, 226, 226, 0.01) 86%, rgba(226, 226, 226, 0.01) 98%,rgba(164, 164, 164, 0.01) 98%, rgba(164, 164, 164, 0.01) 100%),linear-gradient(90deg, rgba(166, 166, 166, 0.07) 0%, rgba(166, 166, 166, 0.07) 40%,rgba(10, 10, 10, 0.07) 40%, rgba(10, 10, 10, 0.07) 41%,rgba(238, 238, 238, 0.07) 41%, rgba(238, 238, 238, 0.07) 97%,rgba(205, 205, 205, 0.07) 97%, rgba(205, 205, 205, 0.07) 100%),linear-gradient(90deg, rgb(5, 18, 76),rgb(90, 230, 27),rgb(245, 209, 98),rgb(57, 188, 195)); 
}

/*==================================================================================*/

.container{
  background-color: rgba(255,255,255,.1);
  background-image: url('../img/img_form.png');
  /*background: linear-gradient(to bottom, #00416a, #799f0c, #ffe000);*/
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}

/*=================================================================================*/

.cab{
  background-color: rgba(255,255,255,.30); 
  /*background: linear-gradient(90deg, #eee, #abbaab, #eee);*/
  border: none;
  border-bottom: 1.5px solid #000;
}
    .txtwow {
      color: #444;
      text-shadow: 1px 1px #eee;
    }

    .txtwow:hover {
      opacity: .5;
      text-shadow: -1px -1px #eee;
    }

    .cab a {
        text-decoration: none;
    }

/*===================================================================================*/

#home {
  display: flex;
  margin: 100px 0;
  font-size: 1em;
}

#home .card {
  border-radius: 5px;
  /*background: linear-gradient(90deg, #a8ff7890, #78ffd690);*/
  background: rgba(255,255,255,.3);
  margin: auto;  
  text-align: center;
  padding: 20px;
  color: #444;
  min-width: 100px;
  border-top: 3px solid;
}

img {
    margin: 0 auto;
}

#home .card:hover {
  transform: scale(1.15);
  cursor: pointer;
  box-shadow: 0 5px 20px 0 #eee;
/*   animation: boxshadow 1000ms linear infinite; */
}

/* @keyframes boxshadow {
  
  0%{box-shadow: 0 5px 10px 0 #eee;}
  25%{box-shadow: -5px 0 10px 0 #eee;}
  50%{box-shadow: 0 -5px 10px 0 #eee;}
  75%{box-shadow: 5px 0 10px 0 #eee;}
  100%{box-shadow: 0 5px 10px 0 #eee;}
} */

#home .card .txt {
  font-size: 1.2em;
  margin-top: 50px;
  color: #222;
}

.lorem {
  text-align: center;
  opacity: 0;
  top: 240px;
  width: 200px;
  left: 25px;
  position: absolute;
  clip-path: polygon(36% 0, 66% 0, 100% 20%, 100% 100%, 0 100%, 0 20%);
  padding: 8px;
}

#home .card:hover .lorem {
  color: #222;
  transition-duration: 1200ms;
  opacity: 1;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,.6), transparent);
}

/*============================================================================*/

.login{
  color: #000;
  border-top: .4vh solid #000;
  border-bottom: .4vh solid #000;
  border-radius: 1vh;
  /*background: linear-gradient(90deg, #abbaab, #eee, #abbaab);*/
  background-color: rgba(255,255,255,.30); 
} 
  
.login input{
  height: 30px;
}

.login .control-checkbox{
  border-top: 3px solid gray;
  border-left: 3px solid gray;
  border-radius: 10px;
  width: 60%;
  background: #fff;
}

/*=========================================================================*/

.barra-ut .col-4{
  background-color: rgba(255,255,255,.30); 
  /*background: linear-gradient(90deg, #abbaab, #eee);*/
  border-bottom: 1.5px solid #000;
  color: #000;
}
  .barra-ut label {
    background-color: rgba(255,255,255,.50); 
    /*background: #eee;*/
    width: 100%;
    border: 1px solid #000;
    border-top: none;
    border-radius: 0 0 10px 10px;
    border-top: none;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
  }


.bu-icon{
  font-size: large;
  margin-right: 12.5px; 
}
.anima{
    animation: rot 3s linear infinite;
}

@keyframes rot{
    0%{
      filter: hue-rotate(0deg);
        transform: rotateY(0deg);
    }
    50%{
      filter: hue-rotate(180deg);
        transform: rotateY(180deg); 
    }
    100%{
      filter: hue-rotate(360deg);
        transform: rotateY(360deg);
    }
}

/*=================================================================================*/

.headerb{
  background-color: rgba(255,255,255,.30); 
  border-top: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
}

.headerb a{
  text-decoration: none;
}

.busca{
    display: flex;
    justify-content: center;
    text-align: center;
}

.busca table {
  font-size: 14px;
  border-collapse: collapse;
  width: auto;
}

.busca td, .busca th {
  padding: 10px;
  margin: 0;
}
    .busca th {
        width: 325px;
    }
    .busca th:nth-child(1),.busca th:nth-child(4) {
        width: auto;
    }
    .busca td{
      font-family: monospace;
      font-size: large;
    }
    .busca td:first-child a{
      text-decoration: none;
      background: rgba(0,0,200,.95);
      border-radius: 2.5px;
      padding: 5px;
      color: #ddd;
      border-bottom: 2px solid #eee;
    }
    .busca td:first-child a:hover{
      opacity: .75; 
    }

.busca tr{
  transition-duration: 400ms; 
  background-color: #444;
  color: #eee;
}

.busca tr:nth-child(2n){
  background-color: #222;
  color: #eee;
}

.busca th {
  position: sticky;
  top: 0;
  background-color: #000;
  color: white;
}

.busca tr:hover{
  transform: scale(1.02);
  color: #78f000;
}

.busca tr:nth-child(2n):hover {
  transform: scale(1.025);
  color: snow;
}

.busca .result {
  background: #000;
  /*text-decoration: underline;*/
}


.formb input {
  width: auto;
  height: 35px;
  background: transparent;
  border: .5px solid #222;
  border-bottom: 2px solid #eee;
  border-radius: 5px;
  color: #eee;
  text-align: center;
}

.formb button{
  padding: 3px;
  margin: 0;
  margin-left: -7px;
  position: relative;
  height: auto;
  border-color: #eee;
  color: #eee;
  border-radius: 5px;
  background: rgba(0,0,200,.85);
}

.formb fieldset{
  padding-top: 15px; 
  text-align: center;
  background: #000;
  border-radius: 10px 10px 0 0;
}

/*=======================================================================================*/

.teto p{
  background: #000;
  color: #eee;
  padding: 1px;
  margin: 0;
}

.rodape{
  background: rgba(0,0,0,.85); 
}
